<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        img {
            border-radius: 35px;
            box-shadow: 0 0 8px black;
        }
    </style>
</head>

<body>
    <% if (products) {%>
        <% for(let i=0; i<products.length;i++){%>

            <div>
                <img src="<%=products[i]['img']%>" alt="">
                <h2>
                    <%=products[i]["name"]%>
                        <%let pId = products[i]["id"]%>
                            <% if (prices[pId]){%>
                                <%=prices[pId]["price"]["1"]%>
                                    <%=prices[pId]["price"]["1.5"]%>
                                        <%=prices[pId]["price"]["2"]%>
                                            <%=prices[pId]["price"]["2.5"]%>
                                                <%=prices[pId]["price"]["3"]%>
                                                    <%}%>
                </h2>
                <h2>
                    <%= products[i]["filling"]%>
                </h2>
                <br>
            </div>

            <%}%>
                <%}%>
</body>

</html>