<html>

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <% if (products) {%>
    <% for(let i=0; i<products.length;i++){%>
    <div>
        <img src="<%=products[i]['img']%>" alt="">
        <h2>
            <%=products[i]["name"]%>
            <%let pId = products[i]["id"]%>
        </h2>

        <h2>
            <%= products[i]["filling"]%>
        </h2>

        <h2>
            <% if (prices[pId]){%>
                <span data-coast=<%=prices[pId]["price"]["1"]%>>1кг</span>
                <span data-coast=<%=prices[pId]["price"]["1.5"]%>>1.5кг</span>
                <span data-coast=<%=prices[pId]["price"]["2"]%>>2кг</span>
                <span data-coast=<%=prices[pId]["price"]["2.5"]%>>2.5кг</span>
                <span data-coast=<%=prices[pId]["price"]["3"]%>>3кг</span>
            <%}%>
        </h2>
        <br>
    </div>

    <%}%>
<%}%>
</body>
    <script>

    </script>

</html>