<html>

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <div id="roof"></div>

    <div id="page-4" class="page-4 close">
        <%- include('../partials/index/basket.ejs')%>
    </div>

    <div class="grid-container">
        <div id="header" class="header">
            <%- include("../partials/header.ejs")%>
        </div>
        <!-- Sweet pies page start-->
        <div id="page-1" class="page-1">
            <%- include("../partials/index/sweet_pies.ejs")%>
        </div>
        <!-- Sweet pies page end -->
        <!-- Vegetable pies page start -->
        <div id="page-2" class="page-2">
            <%- include("../partials/index/vegetable_pies.ejs")%>
        </div>
        <!-- Vegetable pies page end -->
        <!-- Hearty pies page start -->
        <div id="page-3" class="page-3">
            <%- include("../partials/index/hearty_pies.ejs")%>
        </div>
        <!-- Hearty pies page end -->
        <%-include('../partials/menu.ejs')%>
    </div>
</body>
<%-include("../partials/index/scripts.ejs")%>

</html>