<html>

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <%- include("../partials/header.ejs")%>
        </div>
        <!-- Sweet pies page start-->
        <div class="page-1">
            <%- include("../partials/sweet_pies.ejs")%>
        </div>
        <!-- Sweet pies page end -->

        <!-- Vegetable pies page start -->
        <div class="page-2">
            <%- include("../partials/vegetable_pies.ejs")%>
        </div>
        <!-- Vegetable pies page end -->
        <!-- Hearty pies page start -->
        <div class="page-3">
            <%- include("../partials/hearty_pies.ejs")%>
        </div>
        <!-- Hearty pies page end -->
        <div class="footer">
            Podval
        </div>
    </div>
</body>
<script type="text/javascript" src="js/product_card_click_handler.js"></script>

</html>